<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
    <title>Investing is Fun!</title>
	<form  id="landingPage" method="post" action="/investingModule/userDetails">

	  <script src="/static/js/jquery.min.js"></script>
	   <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
	<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>
  </head>
  <body>
   



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 {% csrf_token %}
  <div class="carousel-inner" >
    <div class="image">
      <img style="position: relative;width: 100%;"src="/static/images/slider1.jpg" >
	   <h1 style="position: absolute; top: 75px; left:30px; width:100%	;font-size:60px;font-family: 'Anton', sans-serif; padding: 5px 10px; ">Fear no more, Investing is Fun</h1>
    </div>
  </div>
 
</div>

<form  id="landingPage" method="post" action="/investingModule/userDetails">

<div class="jumbotron">
  <h3 class="display-3"> Do you want to make some money?</h3>
  <br/>
    <button class="btn btn-info btn-lg" type="submit" role="button"> Why not! Show me how!</a>
	
</div>


 
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    </script>
	</div>
	
	<div id="footer">
	<p align="center">All rights reserved - 2017 </p>
	</div>
	
  </body>
</html>